 <h3>My Google Maps Demo</h3>
    <button id="food">Food</button>
    <button id="clear">Clear</button>


    <div>

      <form action="action_page.">
        <select name="choice" id="choice">
          <option value="volvo">Food</option>
          <option value="saab">jobs</option>
          <option value="fiat">doctors</option>
        </select>
        <br><br>

</form>
      <p>
        <form>
          Name: <input type="text" id="name">
          Address: <input id="address" type="textbox">
          Borough: <input id="boro" type="text">
          Phone: <input id="phone" type="text">
          Comments: <input id="comments" type="text">
    <input type="button" value="Encode" id="stuff" onclick="codeAddress()">

        </form>
      </p>
    </div>


    <div id="map"></div>


    <div id="form"> 
      

    </div>